/*----------------------------=Home-------------------------------*/

body {
	margin: 0 auto;
	width: 80%;
	background-color: #cde6ff;
}
	
p, address{
	font: 62.5%/1.5 times, "times new roman", sans-serif;
	font-size: .9em;
	padding: 0 2%;
}

h1 {
	float: left;
	width: 29%;
	padding-left: 1%;
	margin: 5px 0 0;
	font-family: "Salsa";
}

header {
	background-color: #00f;
	border: 1px solid #000;
	height: 50px;
	background: url(../images/bg-header.jpg);
	width: 99.8%;
}

nav {
	float: right;
	margin: 0;
	width: 70%;
	padding: 0;
}
	
nav ul li {
	float: left;
	font-size: .7em;
	padding: 0 3%;
}

.active {
	background-color: rgba(255,255,255, .5);
}

nav ul li a {
	color: #000;
	display: block;
	height: 30px;
	margin: 0;
	width: 130%;
	text-align: center;
	padding-top: 20px;
}

#mobile_home_link {
	display: none;
}

h2 {
	clear: left;
	font-family: 'Happy Monkey';
}

#zipline {
	margin: 10px 0 0;
	padding: 0;
	border: 1px solid #000;
	clear: left;
	background-color: #555;
	width: 99.8%;
}

#zipline h2 {
	background-color: rgba(255,255,100, 1);
	margin: 0;
	padding: .5% 1%;
}

#zipline p {
	margin: 1%;
	color: #fff;
}

iframe {
	width: 100%;
}

img {
	width: 100%;
}

div h2, #waterpark h2, #mini_golf h2, #go_karts h2 {
	background-color: #00aeef;
	padding: .5% 3%;
	margin: 0;
}

.read_more_links {
	text-align: right;
}

#waterpark, #mini_golf {
	width: 31.8%;
	float: left;
	border: 1px solid #000;
	background-color: #fff;
	margin-top: 10px;
}

#go_karts {
	float: right;
	width: 31.6%;
	border: 1px solid #000;
	background-color: #fff;
	margin-top: 10px;
}

#mini_golf {
	margin: 10px 0 0 2%;
}

h2 a, li a, h1 a {
	list-style: none;
	text-decoration: none;
	color: #000;
}

section {
	width: 49.5%;
	margin: 0;
	float: left;
}

#contact_info {
	width: 100%;
	border: 1px solid #000;
	background-color: #fff;
	margin: 10px 0;
}

#contact_info img {
	width: 80%;
	margin: 0 10%;
}

#contact_info p {
	text-align: center;
	padding: 1%;
}

#prices {
	width: 49.5%;
	float: right;
	margin: 10px 0;
	background-color: #fff;
	border: 1px solid #000;
}

#contact_info h3, #prices h3 {
	padding: 0 3%;
	margin: 20px 0 10px;
}

#prices ul li {
	margin: 10px 0 20px;
}

#prices ul {
	padding: 0 1% 0 10%;
}

#prices p {
	padding: 0 2%;
}

footer {
	clear: both;
	border: 1px solid #000;
	background-color: #00aeef;
	margin-top: 17px;
}

footer p, address {
	text-align: center;
	padding: 10px 0 0;
}

#mobile {
	display: none;
}

/*----------------------------=Form-------------------------------*/

#form_content {
	border: 1px solid #000;
	padding: 0;
	margin: 11px 0;
	background-color: #ffffff;
	height: 1400px;
}

#form_header {
	background-color: #00aeef;
	padding: 0;
}

h2, #form_header p {
	margin: 0;
	padding: 1%;
}

fieldset {
	width: 100%;
	background-color: #fff;
	margin-bottom: 17px;
	padding-top: 0;
}

legend {
	font-size: 1.2em;
}

#form section {
	width: 43%;
	margin: 2%;
}

#right_div {
	float: right;
	width: 43%;
	margin: 2%;
	padding: 0 5% 0 0;
}

#form input[type=submit] {
	float: right;
}

#form input[type=text], #form input[type=tel], #form textarea, #form select {
	float: left;
	clear: right;
	margin-bottom: 10px;
	width: 45%;
}

.text_input_label, #select_label {
	float: left;
	width: 50%;
	text-align: right;
	padding-right: 1%;
	margin-bottom: 10px;
	font-size: 1em;
}

#form p {
	clear: both;
	font-size: 1em;
	margin-bottom: 1px;
}

#form ul {
	list-style: none;
}

#form h3 {
	font-size: 1em;
	padding-top: 5px;
}

#mobile_form {
	display: none;
}

/*-------------------------=Attractions----------------------------*/

#extreme_body_sliding img, #att_go_karts img, #att_mini_golf img, #att_zipline img {
	width: 23%;
	float: left;
	margin: 15px 0 0 10px;
}

#extreme_body_sliding {
	height: 385px;
	background-color: #fff;
	padding: 0;
	margin-top: 11px;
	border: 1px solid #000;
}

#att_go_karts, #att_mini_golf, #att_zipline {
	height: 280px;
	background-color: #fff;
	padding: 0;
	margin-top: 11px;
	border: 1px solid #000;
}

#extreme_body_sliding p, #att_go_karts p, #att_mini_golf p {
	float: right;
	width: 73%;
	padding: 0 1%;
}

#att_zipline p {
	float: right;
	width: 48%;
	padding: 0 1%;
}

#water_park h2 {
	margin: 0;
}

#water_park p {
	width: 100%;
}

#water_park {
	height: 550px;
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 10px;
}

#adventure_bwtt, #body_twisters, #tube_slide, #kiddie_mini_river {
	width: 22.5%;
	float: left;
	padding: 0 1%;
	margin: 0;
	/*height: 501px;*/
}

#body_twisters img, #tube_slide img, #kiddie_mini_river img {
	margin: 22px 0 0;
}

#adventure_bwtt, #body_twisters, #tube_slide {
	border-right: 1px solid #000;
}

/*------------------------------=Policies----------------------------------*/

#policies {
	background-color: #fff;
	border: 1px solid #000;
	padding: 0;
	margin-top: 11px;
}

#policies h3, #policies p {
	padding: 0 2%;
}

#policies ul {
	padding: 0 4%;
}

/*------------------------------=Contact us----------------------------------*/

#contact_us {
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 11px;
	height: 1300px;
}

#contact_us h3, #contact_us p, #contact_us label, #contact_us input {
	margin: 0;
	padding: .5% 1%;
}

#contact_us h3 {
	margin-top: 15px;
}

#contact_us label, #contact_us form p {
 display: block;
 width: 25%;
 text-align: right;
 margin: 0 0;
 float: left;
 clear: left;
}

#contact_us form p {
	float: none;
	clear: both;
	width: 25%;
	font-size: 1em;
}

#contact_us input[type=text] {
	height: 14px;
}

#contact_us input, #contact_us select {
	float: left;
	margin: 4px 0;
}

#contact_us select {
	height: 25px;
}

#contact_us input[type=radio] {
	margin-top: 9px;
}

#contact_us input[type=checkbox] {
	margin-top: 26px;
}

#contact_us input[type=submit] {
	margin: 60px 0 0 -15px;
}

#contact_us img, #contact_us address {
	width: 30%;
	margin: 1% 5%;
}

#directions {
	text-align: center;
	width: 40%;
}

/*------------------------------=About us----------------------------------*/

#about_us {
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 11px;
}

#about_us p {
	padding: 0 2%;
}

/*-----------------------------------------------------------------------
-----------------------------=Media queries------------------------------
-----------------------------------------------------------------------*/

@media only screen and (max-width: 610px) {

/*----------------------------=Home-------------------------------*/

	body {
		width: 90%;
	}

	h1 {
		float: left;
		font-size: 1.1em;
		width: 20%;
		margin: 1px 0 0;
	}
	
	nav {
		float: right;
		margin: 0;
		width: 78%;
		padding: 0;
	}
	
	nav ul li {
		float: left;
		font-size: .4em;
		padding: 0;
	}
	
	nav ul li a {
		color: #000;
		display: block;
		height: 30px;
		margin: 0;
		width: 130%;
		text-align: center;
		padding-top: 20px;
	}
	
	h2 {
		font-size: 1em;
	}
	
	#form_content {
		height: 1450px;
	}

}

@media only screen and (min-width: 611px) and (max-width: 1065px) {

/*----------------------------=Home-------------------------------*/

	h1 {
		float: left;
		font-size: 1.3em;
		width: 26%;
		margin: 12px 0 0;
	}
	
	nav ul li {
		float: left;
		font-size: .6em;
		padding: 0 2%;
	}
	
	h2 {
		font-size: 1.2em;
	}
	
	legend {
		font-size: 1em;
	}

}

@media only screen and (max-width: 481px) {

/*----------------------------=Moblie Landscape Home-------------------------------*/
	
	body {
		position: relative;
		margin: 30px auto;
		width: 100%;
		background-color: #cde6ff;
	}
	
	nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
	* {
		float: none;
	}
	
	p, address{
		font: 62.5%/1.5 times, "times new roman", sans-serif;
		font-size: .9em;
	}
	
	h1 {
		float: left;
		width: 100%;
		padding-left: 1%;
		margin-top: 0px;
		font-size: 1.2em;
		background-color: #fff;
	}
	
	h1 a {
		color: #000;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		border: 1px solid #000;
		height: 17px;
		background: none;
	}
	
	nav {
		background: url(../images/bg-header.jpg);
	}
	
	#mobile_home_link, #mobile {
		display: block;
	}
	
	#waterpark {
		margin: 10px 0 10px 1%;
	}
	
	#go_karts {
		margin: 10px 1% 10px 0;
	}
	
	#mini_golf {
		margin: 10px 0 10px .7%;
	}
	
	nav ul li {
		float: left;
		font-size: .5em;
		margin: 0;
		padding: 0;
		width: 16.7%;
	}
	
	nav ul li a {
		color: #000;
		display: block;
		height: 32px;
		margin: 0;
		width: 100%;
		text-align: center;
		padding-top: 20px;
		border: 1px solid #000;
	}
	
	#mobile_zipline {
		height: 90px;
		width: 96%;
		margin: 0 auto;
		padding: 0 0 6%;
	}
	
	#zipline {
		width: 98%;
		margin: 0 auto;
	}
	
	#prices, section {
		float: none;
		clear: both;
		width: 98%;
		margin: 10px 1% 0;
	}
	
	#prices {
		margin: 10px 1% 50px;
	}
	
	#waterpark p, #mini_golf p, #go_karts p {
		display: none;
	}
	
/*------------------------------=Form----------------------------------*/	
	
	#form_content, footer p, footer address {
		display: none;
	}
	
	#mobile_form {
		display: block;
		width: 90%;
		padding: 0 4%;
		background-color: #cde6ff;
		margin: 30px 0 50px;
		height: 590px;
	}
	
	#mobile_form label, #mobile_form input {
		margin: 0;
		padding: .5% 1%;
	}
	
	#mobile_form label, #mobile_form form p {
	 display: block;
	 width: 25%;
	 text-align: right;
	 margin: 0;
	 float: left;
	 clear: left;
	}
	
	#mobile_form form p {
		float: none;
		clear: both;
		width: 25%;
		font-size: 1em;
	}
	
	#mobile_form input[type=text] {
		height: 14px;
	}
	
	#mobile_form input, #mobile_form select {
		float: left;
		margin: 4px 0;
	}
	
	#mobile_form select {
		height: 25px;
	}
	
	#mobile_form input[type=radio] {
		margin-top: 4px;
	}
	
	#mobile_form input[type=checkbox] {
		margin-top: 4px;
	}

	#mobile_form form p {
		width: 60%;
	}
	
	#mobile_form input[type=submit]{
		width: 100%;
		height: 60px;
		margin: 20px auto 20px;
		background: #00aeef;
		border: 1px solid #000;
		border-radius: 10px;	
		font-size: 2em;	
	}
	
	#mobile_form img {
		width: 100%;
	}
	
	#mobile_form h3 {
		border-top: 1px solid #000;
		padding: 10px 0 0;
		width: 100%;
	}
	
/*-------------------------=Attractions----------------------------*/

	#extreme_body_sliding img, #att_go_karts img, #att_mini_golf img, #att_zipline img, #water_park img {
		width: 90%;
		float: none;
		margin: 1% 5%;
	}
	
	#extreme_body_sliding, #water_park, #att_go_karts, #att_mini_golf, #att_zipline {
		background-color: #fff;
		padding: 0;
		margin: 17px auto 0;
		border: 1px solid #000;
		width: 98%;
	}
	
	#extreme_body_sliding {
		height: 770px;
	}
	
	#water_park {
		height: 2300px;
	}

	#att_go_karts {
		height: 670px;
	}
		
	#att_mini_golf {
		height: 660px;
	}
	
	#att_zipline {
		height: 570px;
		margin-bottom: 70px;
	}
	
	#extreme_body_sliding p, #att_go_karts p, #att_mini_golf p, #att_zipline p {
		float: none;
		width: 96%;
		padding: 0 2%;
	}
	
	#adventure_bwtt, #body_twisters, #tube_slide, #kiddie_mini_river {
		width: 98%;
		float: none;
		padding: 0 2%;
		margin: 0;
		height: 550px;
	}
	
	#adventure_bwtt, #body_twisters, #tube_slide {
		border-bottom: 1px solid #000;
	}
	
	#not_for_mobile_image {
		display: none;
	}
	
/*------------------------------=Policies----------------------------------*/	

	#policies {
		margin: 0 auto 50px;
		width: 98%;
	}
	
	#policies h3, #polcies li, #policies p {
		padding-left: 2%;
	}
	
	#policies_content {
		padding-left: 4%;
	}
	
/*------------------------------=Contact Us----------------------------------*/	

	#contact_us {
		margin: 0 auto 50px;
		width: 98%;
		height: 1450px;
	}
	
	#contact_us address, #contact_us img, #contact_us #directions {
		width: 96%;
		margin: 0 2%;
		text-align: center;
	}
	
	#contact_us form p {
		width: 60%;
	}
	
	#contact_us h3 {
		margin-bottom: 10px;
	}
	
	#contact_us h3, #contact_us p {
		padding: 0 4%;
	}
	
	#contact_us input[type=radio] {
		margin-top: 4px;
	}
	
	#contact_us input[type=checkbox] {
		margin-top: 4px;
	}	
	
	#contact_us input[type=submit]{
		width: 90%;
		height: 60px;
		margin: 20px 5% 20px;
		background: #00aeef;
		border: 1px solid #000;
		border-radius: 10px;	
		font-size: 2em;	
	}
	
/*------------------------------=About us----------------------------------*/

	#about_us {
		margin: 0 auto 50px;
		width: 98%;
	}
	
	#about_us p {
		padding: 0 4%;
	}
	
}