/*----------------------------=Home-------------------------------*/

body {
	margin: 0 auto;
	width: 80%;
	background-color: #cde6ff;
}
	
p, address{
	font: 62.5%/1.5 times, "times new roman", sans-serif;
	font-size: .9em;
}

h1 {
	float: left;
	width: 27%;
	clear: left;
	padding-left: 1%;
	margin-top: 10px;
	font-family: "shark formal funnyness";
}

header {
	background-color: #00f;
	border: 1px solid #000;
	height: 50px;
	background: url(../images/bg-header.jpg);
}

nav {
	float: right;
	margin: 0;
	width: 70%;
	padding: 0;
}
	
nav ul li {
	float: left;
	font-size: 1em;
	padding: 0 2%;
}

.active {
	background-color: rgba(0,200,255, .6);
}

nav ul li a {
	color: #fff;
	display: block;
	height: 32px;
	margin: 0;
	width: 130%;
	text-align: center;
	padding-top: 20px;
}

#mobile_home_link {
	display: none;
}

h2 {
	clear: left;
}

section {
	float: left;
	width: 70%;
	clear: left;
}

#zipline {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	clear: left;
	background-color: #555;
	height: 350px;
}

#zipline h2 {
	background-color: #ff0;
	margin: 0;
	padding: .5% 1%;
}

#zipline p {
	margin-top: 4px;
}

iframe {
	width: 100%;
}

img {
	width: 100%;
}

#waterpark h2, #mini_golf h2, #go_karts h2 {
	background-color: #00aeef;
	padding: 1.5% 3%;
	margin: 0;
}

#waterpark, #mini_golf, #go_karts {
	width: 33%;
	float: left;
	border: 1px solid #000;
	background-color: #00aeef;
	margin-top: 17px;
	height: 202px;
}

h2 a, li a, h1 a {
	list-style: none;
	text-decoration: none;
	color: #000;
}

aside {
	float: right;
	width: 29%;
	overflow: hidden;
	border: 1px solid #000;
	background-color: #00aeef;
	height: 570px;
	margin-bottom: 17px;
}

aside img {
	width: 90%;
	margin: 0 5%;
}

footer {
	clear: both;
	border: 1px solid #000;
	background-color: #00aeef;
	margin-top: 17px;
}

footer p, aside p, address {
	text-align: center;
}

#mobile {
	display: none;
}

/*----------------------------=Form-------------------------------*/

#form_content {
	border: 1px solid #000;
	padding: 0;
	margin: 17px 0;
	background-color: #fff;
	height: 1450px;
}

#form_header {
	background-color: #00aeef;
	height: 90px;
	margin: 0;
	padding: 0;
}

#form_header h2, #form_header p {
	margin: 0;
	padding: 1%;
}

fieldset {
	width: 100%;
	background-color: #00aeef;
	margin-bottom: 17px;
	padding-top: 0;
}

legend {
	padding-top: 25px;
	font-size: 1.2em;
}

#form section {
	width: 43%;
	margin: 2%;
}

#right_div {
	float: left;
	width: 43%;
	margin: 2%;
}

#form input[type=submit] {
	float: right;
}

#form input[type=text], #form input[type=tel], #form textarea, #form select {
	float: left;
	clear: right;
	margin-bottom: 10px;
	width: 45%;
}

.text_input_label, #select_label {
	float: left;
	width: 40%;
	text-align: right;
	padding-right: 1%;
	margin-bottom: 10px;
	font-size: 1em;
}

#form p {
	clear: both;
	font-size: 1em;
	margin-bottom: 1px;
}

#form ul {
	list-style: none;
}

#form h3 {
	font-size: 1em;
	padding-top: 5px;
}

/*-------------------------=Attractions----------------------------*/

h2 {
	background-color: #00aeef;
}

#extreme_body_sliding img, #att_go_karts img, #att_mini_golf img, #att_zipline img {
	width: 23%;
	float: left;
	margin-left: 10px;
}

#extreme_body_sliding, #att_go_karts, #att_mini_golf, #att_zipline {
	height: 350px;
	background-color: #fff;
	padding: 0;
	margin-top: 17px;
	border: 1px solid #000;
}

#extreme_body_sliding h2, #att_go_karts h2, #att_mini_golf h2, #att_zipline h2 {
	padding: 0;
	margin: 0;
}

#extreme_body_sliding p, #att_go_karts p, #att_mini_golf p {
	float: right;
	width: 73%;
	padding: 0 1%;
}

#water_park h2 {
	margin: 0;
}

#water_park p {
	width: 100%;
}

#water_park {
	height: 508px;
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 17px;
}

#adventure_bwtt, #body_twisters, #tube_slide, #kiddie_mini_river {
	width: 23%;
	float: left;
	padding: 0 1%;
	margin: 0;
	height: 480px;
}

#body_twisters img, #tube_slide img, #kiddie_mini_river img {
	margin: 22px 0 0;
}

#adventure_bwtt, #body_twisters, #tube_slide {
	border-right: 1px solid #000;
}

/*------------------------------=Policies----------------------------------*/

#policies {
	background-color: #fff;
	border: 1px solid #000;
	padding: 0;
	margin-top: 17px;
}

#policies h2 {
	margin-top: 0;
	padding: .5% 1%;
}

#policies h3, #policies p {
	padding: 0 2%;
}

#policies ul {
	padding: 0 4%;
}

/*------------------------------=Contact us----------------------------------*/

#contact_us {
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 17px;
	height: 1270px;
}

#contact_us h2, #contact_us h3, #contact_us p, #contact_us label, #contact_us input {
	margin: 0;
	padding: .5% 1%;
}

#contact_us h3 {
	margin-top: 15px;
}

#contact_us label, #contact_us form p {
 display: block;
 width: 25%;
 text-align: right;
 margin: 0 0;
 float: left;
 clear: left;
}

#contact_us form p {
	float: none;
	clear: both;
	width: 25%;
	font-size: 1em;
}

#contact_us input[type=text] {
	height: 14px;
}

#contact_us input, #contact_us select {
	float: left;
	margin: 4px 0;
}

#contact_us select {
	height: 25px;
}

#contact_us input[type=radio] {
	margin-top: 9px;
}

#contact_us input[type=checkbox] {
	margin-top: 26px;
}

#contact_us input[type=submit] {
	margin: 60px 0 0 -15px;
}

#contact_us img, #contact_us address, #contact_us p a {
	width: 30%;
	margin: 1% 5%;
}

#mobile_form {
	display: none;
}

/*------------------------------=About us----------------------------------*/

#about_us {
	background-color: #fff;
	border: 1px solid #000;
	margin-top: 17px;
}

#about_us h2 {
	margin-top: 0;
	padding: .5% 1%;
}

#about_us p {
	padding: 0 2%;
}

/*-----------------------------------------------------------------------
-----------------------------=Media queries------------------------------
-----------------------------------------------------------------------*/

@media only screen and (max-width: 480px) {

/*------------------------------=Home----------------------------------*/
	
	body {
		position: relative;
		margin: 30px auto;
		width: 100%;
		background-color: #cde6ff;
	}
	
	nav {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
	* {
		float: none;
	}
	
	p, address{
		font: 62.5%/1.5 times, "times new roman", sans-serif;
		font-size: .9em;
	}
	
	h1 {
		float: left;
		width: 100%;
		padding-left: 1%;
		margin-top: 0px;
		font-size: 1.2em;
		background-color: #fff;
	}
	
	h1 a {
		color: #000;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		border: 1px solid #000;
		height: 17px;
		background: none;
	}
	
	nav {
		background: url(../images/bg-header.jpg);
	}
	
	#mobile_home_link, #mobile {
		display: block;
	}
	
	nav ul li {
		float: left;
		font-size: .5em;
		margin: 0;
		padding: 0;
		width: 16.7%;
	}
	
	nav ul li a {
		color: #fff;
		display: block;
		height: 32px;
		margin: 0;
		width: 100%;
		text-align: center;
		padding-top: 20px;
		border: 1px solid #000;
	}
	
	#mobile_zipline {
		height: 90px;
		width: 96%;
		margin: 0 auto;
		padding: 0 0 6%;
	}
	
	#mobile_water_park, #mobile_mini_golf, #mobile_go_karts {
		height: 45px;
		width: 96%;
		margin: 0 auto;
		padding: 3% 0; 
	}
	
	#zipline, #waterpark, #mini_golf, #go_karts, aside, section {
		float: none;
		width: 98%;
		margin: 0 auto;
	}
	
	aside {
		background-color: #cde6ff;
		border: none;
		margin-bottom: 90px;
		height: 600px;
	}
	
	#zipline, #waterpark, #mini_golf, #go_karts {
		display: none;
	}
	
/*------------------------------=Form----------------------------------*/	
	
	#form_content, footer p, footer address {
		display: none;
	}
	
	#mobile_form {
		display: block;
		width: 90%;
		padding: 0 4%;
		background-color: #cde6ff;
		margin: 30px 0 50px;
		height: 590px;
	}
	
	#mobile_form label, #mobile_form input {
		margin: 0;
		padding: .5% 1%;
	}
	
	#mobile_form label, #mobile_form form p {
	 display: block;
	 width: 25%;
	 text-align: right;
	 margin: 0;
	 float: left;
	 clear: left;
	}
	
	#mobile_form form p {
		float: none;
		clear: both;
		width: 25%;
		font-size: 1em;
	}
	
	#mobile_form input[type=text] {
		height: 14px;
	}
	
	#mobile_form input, #mobile_form select {
		float: left;
		margin: 4px 0;
	}
	
	#mobile_form select {
		height: 25px;
	}
	
	#mobile_form input[type=radio] {
		margin-top: 4px;
	}
	
	#mobile_form input[type=checkbox] {
		margin-top: 4px;
	}

	#mobile_form form p {
		width: 60%;
	}
	
	#mobile_form input[type=submit]{
		width: 100%;
		height: 60px;
		margin: 20px auto 20px;
		background: #00aeef;
		border: 1px solid #000;
		border-radius: 10px;	
		font-size: 2em;	
	}
	
	#mobile_form img {
		width: 100%;
	}
	
	#mobile_form h3 {
		border-top: 1px solid #000;
		padding: 10px 0 0;
		width: 100%;
	}
	
/*-------------------------=Attractions----------------------------*/

	#extreme_body_sliding img, #att_go_karts img, #att_mini_golf img, #att_zipline img, #water_park img {
		width: 98%;
		float: none;
		margin: 0 1%;
	}
	
	#extreme_body_sliding, #water_park, #att_go_karts, #att_mini_golf, #att_zipline {
		background-color: #fff;
		padding: 0;
		margin: 17px auto 0;
		border: 1px solid #000;
		width: 98%;
	}
	
	#extreme_body_sliding {
		height: 770px;
	}
	
	#water_park {
		height: 2200px;
	}

	#att_go_karts {
		height: 670px;
	}
		
	#att_mini_golf {
		height: 660px;
	}
	
	#att_zipline {
		height: 570px;
		margin-bottom: 70px;
	}
	
	#extreme_body_sliding p, #att_go_karts p, #att_mini_golf p, #att_zipline p {
		float: none;
		width: 96%;
		padding: 0 2%;
	}
	
	#adventure_bwtt, #body_twisters, #tube_slide, #kiddie_mini_river {
		width: 98%;
		float: none;
		padding: 0 2%;
		margin: 0;
		height: 530px;
	}
	
	#adventure_bwtt, #body_twisters, #tube_slide {
		border-bottom: 1px solid #000;
	}
	
	#not_for_mobile_image {
		display: none;
	}
	
/*------------------------------=Policies----------------------------------*/	

	#policies {
		margin: 0 auto 50px;
		width: 98%;
	}
	
	#policies h3, #polcies li, #policies p {
		padding-left: 2%;
	}
	
	#policies_content {
		padding-left: 4%;
	}
	
/*------------------------------=Contact Us----------------------------------*/	

	#contact_us {
		margin: 0 auto 50px;
		width: 98%;
		height: 1420px;
	}
	
	#contact_us address, #contact_us img, #contact_us #directions {
		width: 96%;
		margin: 0 2%;
		text-align: center;
	}
	
	#contact_us form p {
		width: 60%;
	}
	
	#contact_us h3 {
		margin-bottom: 10px;
	}
	
	#contact_us h3, #contact_us p {
		padding: 0 4%;
	}
	
	#contact_us input[type=radio] {
		margin-top: 4px;
	}
	
	#contact_us input[type=checkbox] {
		margin-top: 4px;
	}	
	
	#contact_us input[type=submit]{
		width: 90%;
		height: 60px;
		margin: 20px 5% 20px;
		background: #00aeef;
		border: 1px solid #000;
		border-radius: 10px;	
		font-size: 2em;	
	}
	
/*------------------------------=About us----------------------------------*/

	#about_us {
		margin: 0 auto 50px;
		width: 98%;
	}
	
	#about_us p {
		padding: 0 4%;
	}
	
}